<mat-toolbar color="primary">    
    <mat-button-toggle #togglemenu unchecked disableRipple class="ham-btn" (click)="ToggleMenu(togglemenu.checked)"><mat-icon class="ham-menu" aria-hidden="false" aria-label="Example user verified icon">subject</mat-icon></mat-button-toggle>
    <span>  Admin Panel</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">notifications_none
    </mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">power_settings_new
    </mat-icon>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened [ngStyle]="{ 'width.px': drawerwidth }">
        <mat-list style="padding:0px">
            <mat-list-item class="m-item">  <button mat-button (click)="assignComponent('dashboard')" class="menu-btn">
                <mat-icon class="menu-icon" >dashboard</mat-icon><span class="menu-item">Dashboard</span>
            </button></mat-list-item>
            <mat-list-item class="m-item">  <button mat-button (click)="assignComponent('user')" class="menu-btn">
                <mat-icon class="menu-icon" >people_outline</mat-icon><span class="menu-item">Users</span>
            </button></mat-list-item>
            <mat-list-item class="m-item">  <button mat-button (click)="assignComponent('user')" class="menu-btn">
                <mat-icon class="menu-icon" >card_giftcard</mat-icon><span class="menu-item">Gifts</span>
            </button></mat-list-item>
            <mat-list-item class="m-item">  <button mat-button (click)="assignComponent('user')" class="menu-btn">
                <mat-icon class="menu-icon" >style</mat-icon><span class="menu-item">Coupons</span>
            </button></mat-list-item>            
       </mat-list>
    </mat-drawer>
    <mat-drawer-content [ngStyle]="{ 'margin-left.px': drawerwidth }" >
        <div style="padding:0px 10px">
        <ng-container *ngComponentOutlet="loadComponent"></ng-container>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>